<head>
    <title>Catálogo acessível</title>
</head>

<body>
    <h1>Catálogo de móveis do site Americanas</h1>





    {% for product in products %}
    <div id="produto-{{loop.index}}">
        <p class="product-name">

            Produto: {{product.description}} 
        </p>
        <a href="#produto-{{loop.index+1}}"><button>pular para o próximo produto</button> <br></a>

        {{product.product_id}} <br>
        {{product.url}} <br>
        {{product.rating}} <br>
        {{product.price}} <br>
        {{product.installments}} <br>

        <br><br>
    </div>
    {% endfor %}

</body>

<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: yellow;
        color: black;
    }

    h1{
        font-size: 2.5rem;
    }

    .product-name{
        font-size: 1.3 rem;
    }
</style>