<head>
    <title>Catálogo acessível</title>
</head>

<body>

    
    <h1 style="text-align: center;">Catálogo de móveis do site Americanas</h1>
<div class="container">

    
    
    
    
        {% for product in products %}
        <div id="produto-{{loop.index}}" class="product">
            <p class="product-name">
    
                Produto: {{product.description}} 
            </p>
            <a href="#produto-{{loop.index+1}}"><button>pular para o próximo produto</button> <br></a>
    
            <p>

                {{product.rating}} 
            </p>
            <p>

                {{product.price}} <br>
            </p>
            <p>

                {{product.installments}}
            </p>
            <a href="{{url_for('produto', product_id=product.product_id)}}"><button>mais informações desse produto</button></a>
    
            <br><br>
        </div>
        {% endfor %}

</div>

</body>

<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: black;
        color: yellow;
    }

    h1{
        font-size: 2.5rem;
    }

    .product-name{
        font-size: 1.5 rem;
        font-weight: bold;
    }

    .product{
        text-align: center;
        margin-bottom: 30px;

    }

    .container{
        margin: 0 auto;
        width: 80%;
        margin-top: 40px;
    }
</style>